<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inducesmile.androidfingerprintlogin">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".menuActivity" />
        <activity android:name=".cashWithdrawl1" />
        <activity android:name=".changePassword" />
        <activity android:name=".changePassword2" />
        <activity android:name=".addRemoveFingerprint" />
        <activity android:name=".thankYou"></activity>
    </application>

</manifest>